* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(10, 67, 10);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

header {
    background: white;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.about-me {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.about-me img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 1rem;
}

.about-me-content {
    max-width: 600px;
}

.about-me-content h2 {
    color: white;
}

.about-me-content p {
    line-height: 1.6;
    color: aliceblue;
}